<!-- <link rel="stylesheet" href="/css/user_profile.css"> -->
<img src="<%= user.avatar%>" alt="<%= user.name%>"width="100">
<h1>
    Codeial / Profile Page
</h1>
<h1><%= user.name %></h1>
<h1><%= user.email %></h1>
<% if(user.id == profile_user.id){%>
    <form action="/users/update/<%=profile_user.id%>"method="post"enctype="multipart/form-data">
        <input type="text"name="name"placeholder="your name"value="<%=profile_user.name%>"required>
        <input type="email"name="email"placeholder="your email"value="<%=profile_user.email%>"required>
        <input type="file"name="avatar"placeholder="profile picture">
        <input type="submit"value="Update">
    </form>
    <%}else{%>
    <p><%=profile_user.name %></p>
    <p><%=profile_user.email %></p>
    <%}%>

    
